h1 {
  text-align: center;
  /* display: inline-block; */
}

form {
  padding: 1%;
}

#darules {
  width: 10em;
  float: left;
}

.rules-add-container {
  width: 100%;
  flex-direction: row;
}

.rules-container {
  left: 0px;
  width: 50%;
}

.add-container {
  position: absolute;
  right: 0px;
  width: 50%;
}

.wheel-table-parent {
  flex-direction: row;
  width: 100%;
}

.wheel-container {
  left: 0px;
  width: 50%;
}

.table-container {
  right: 0px;
  position: absolute;
  width: 50%;
}

#table {
  width: 300px;
  display: inline-block;
  list-style-type: none;
  column-count: 3;
  margin: 0%;
}

li {
  list-style-type: none;
}

.circular-progress {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  animation: forward-spin 15s infinite linear;
}

.circular-progress-circle {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}

.circle-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: blue;
  transform-origin: 0 0;
}

@keyframes forward-spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes idle {
  100% {}
}
