h1 {
  text-align: center;
}

form {
  padding: 1%;
}

#darules {
  width: 10em;
  float: left;
}

.rules-add-container {
  width: 100%;
}

.rules-container {
  float: left;
  width: 50%;
}

.add-container {
  float: right;
  width: 50%;
}

.wheel-table-parent {
  width: 100%;
}

.wheel-container {
  float: right;
  width: 50%;
}

.triangle-lft {
  position: relative;
  display: inline-block;
  top: -15.8em;
  left: -2.5em;
  border-top: 25px solid transparent;
  border-right: 50px solid #555;
  border-bottom: 25px solid transparent;
}

.table-container {
  float: left;
  width: 50%;
}

#table {
  /* width: 35em; */
  text-align: center;
  list-style-type: none;
  column-count: 3;
  /* margin: 0%; */
}

li {
  list-style-type: none;
}

.circular-progress {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  animation: forward-spin 15s infinite linear;
}

.circular-progress-circle {
  display: inline-block;
  position: relative;
  width: 35em;
  height: 35em;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}

.circle-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: blue;
  transform-origin: 0 0;
}

@keyframes forward-spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes idle {
  100% {}
}
